body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.navbar {
    --bs-navbar-padding-y: 0 !important;
    
}

nav > a.navbar-brand {
    background-color: rgb(61, 219, 166);
    color: white !important;
    padding: 15px 25px;
} 

nav > div > .nav_link {
    padding: 15px 20px;
    color:#676a6c;
}

div.container > div.search_bar {
    float: right;
    width: 350px;
}